{% load static %}

<h1>
    <a href="#" id="browseButton">Select files</a>
</h1>

<form method="post" id="image_form" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="image">
        My Image
        <input type="file" id="image" name="image">
        <input type="text" id="hex" name="hex" hidden>
        <button type="submit">submit</button>
    </label>
</form>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'resumable.js' %}"></script>
<script src="{% static 'crypto-js.min.js' %}"></script>


<script src="{% static 'main.js' %}"></script>

<script>
    var r = new Resumable({
        target: '/resumable-upload/',
    });

    r.assignBrowse(document.getElementById('browseButton'));

    r.on('fileSuccess', function (file) {
        console.debug('fileSuccess', file);
    });
    r.on('fileProgress', function (file) {
        console.debug('fileProgress', file);
    });
    r.on('fileAdded', function (file, event) {
        r.upload();
        console.debug('fileAdded', event);
    });
    r.on('filesAdded', function (array) {
        r.upload();
        console.debug('filesAdded', array);
    });
    r.on('fileRetry', function (file) {
        console.debug('fileRetry', file);
    });
    r.on('fileError', function (file, message) {
        console.debug('fileError', file, message);
    });
    r.on('uploadStart', function () {
        console.debug('uploadStart');
    });
    r.on('complete', function () {
        console.debug('complete');
    });
    r.on('progress', function () {
        console.debug('progress');
    });
    r.on('error', function (message, file) {
        console.debug('error', message, file);
    });
    r.on('pause', function () {
        console.debug('pause');
    });
    r.on('cancel', function () {
        console.debug('cancel');
    });
</script>


